<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>User : Create</title>
</head>
<body>
	<h1 layout:fragment="header">User : Create</h1>
	<div layout:fragment="content" class="container">
		<form id="helloForm" th:action="@{/redis/create}" th:object="${hello}"
			action="#" method="post">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
			<div class="pull-right">
				<a th:href="@{/user/}" href="user.html"> Messages </a>
			</div>
			<label
				for="name">name</label> <input type="text"
				th:field="*{name}"
				th:class="${#fields.hasErrors('name')} ? 'field-error'" /> <label
				for="text">lastName</label>
			<textarea th:field="*{message}"
				th:class="${#fields.hasErrors('message')} ? 'field-error'"></textarea>
			<div class="form-actions">
				<input type="submit" value="Save" />
			</div>
		</form>
	</div>
</body>
</html>
